*{
    margin: 0;
    padding: 0;
    border: border-box;
}

body {
    background-color: rgb(101, 134, 132);
    font-family: Arial, sans-serif;
  }

  h1{
    text-align: center;
    }

    h2{
        margin: 0 auto 40px auto;
    }

  .menu{
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
  }

  nav {
    text-align: center;
    margin: 10px 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }

  main {
    padding: 20px;
    max-width: 800px;
    margin: 60px auto;
  }

  .apresentacao{
    margin: 20px;
  }

  .apresentacao2{
    margin: 20px;
  }

  .txtbotao{
    margin: 10px;
    font-size: 18px;
  }

  
  #question {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 25px;
    color: rgb(255, 255, 255);
  }
  
  #answers {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
  
  .answer {
    background-color: #ddd;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;

    margin: 10px auto 150px auto;
  }
  
  .answer:hover {
    background-color: #ccc;
    border-color: #999;
  }
  
  .answer.correct {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
  }
  
  .answer.incorrect {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
  }



  .button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #444;
  }

.botaoiniciar,button{
    padding: 15px 25px;
}

  /* footer */
  /* footer */
  /* footer */
  /* footer */

  footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .left,
  .center,
  .right {
    flex: 1;
    padding: 0 20px;
  }
  
  h3 {
    margin: 20px 0 10px 0;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline
  }